.button-container {
    margin-top: 39px;
    border-radius: 3px;
    background-color: #418DCB;
    color: white;
    font-weight: bold;
    padding: 8px 13px 8px 16px;
    width: 131px;
    display: flex;
    justify-content: space-evenly;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    h6 {
        margin: 0px;
        padding-top: 3px;
        padding-right: 15px;
    }
}