.editor-container
 {
     margin-left: 22%;
     margin-top: 63px;
     .editor-title {
         margin-bottom: 17px;
     }
      .title-arrow {
          position: absolute;
          right: 20px;
          top: 9px;
      }
 }