.title-container{
    background-color: #EFEFEF;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 42px;
    position: relative;
    h6 {
        margin: 0px;
    }

    .title-arrow {
        position: absolute;
        right: 20px;
        top: 9px;
    }
}